@import "./config";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-blue;
    padding: $gutter;
    
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: $max-width;
        max-width: 100%;
        font-size: 21px;
        margin: 0 auto;

        @media (max-width:800px) {
          
        }
    }
    
    &__col {
        display: flex;
        padding-right: $gutter;

        font-family: $font-main;
        font-weight: bold;

        @media (max-width:800px) {
          width: 50%;  
        }
        @media (max-width:400px) {
          width: 100%;
        } 
        & > * {
          padding: $gutter;
        }
        & ul {
            list-style: none;

            & label {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }   
    &__copy {
        margin: 0 auto;
    }
}

.list {
    &__link {
        text-decoration: none;
        color: $color-white;
        font-weight: normal;
        transition: 0.4s;
        
        &:hover {
            color: $color-orange;
        }
    }
}
.ul {
    list-style-type: none;
}

