@import "config";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-blue;
    padding: $gutter;
    
    &fotur_li_category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: $max-width;
        max-width: 100%;
        font-size: 21px;
        margin: 0 auto;

        @media (max-width:800px) {
          
        }
    }
    
    &fotur_li_category {
        display: flex;
        padding-right: $gutter;

        font-family: $font-main;
        font-weight: bold;

        @media (max-width:800px) {
          width: 50%;  
        }
        @media (max-width:400px) {
          width: 100%;
        } 
        & > * {
          padding: $gutter;
        }
        & ul {
            list-style: none;

            & label {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }   
    &fotur_li_category {
        margin: 0 auto;
    }
}

.li {
    &__link {
        text-decoration: none;
        color: $color-white;
        font-weight: normal;
        transition: 0.4s;
        
        &:hover {
            color: $color-black;
        }
    }
}
.h5 {
    display: grid;
    grid-template-columns: 4,1fr;
}
.footer_col {
    display: grid;
    text-align: center;
    list-style: none;
}
.h5 {
    color: $color-black;
    font-family: $font-heading;
}

