.haus {
    background-color: orange;
    top: 0;
    max-width: 2000px;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
}
.haus_h1 {
    font-size: 50px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(1, 5fr)
}
.navbar_cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
    
}
.navigationCenter {
    margin: 0;
    max-width: 1200px;
}
.test {
    backdrop-filter: random($limit: 1)
}