@import "./config";

.header {
  background-color: $color-orange;
}

.header__title {
  font-size: 3.5em;
  text-align: center;
  font-family: "Oswald", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}
.nav_text {
    text-align: center;
    font-family: $font-heading;
}
.nav__row {
  margin: 0.4em;
  word-spacing: 2em;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0.5em;
}

.nav__lists {
  text-align: center;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.nav__list {
  display: inline-block;
}

.nav__list:hover {
  color: #fffcf2;
}

.nav__list__active__page{
  text-decoration: underline;
  display: inline-block;
}

.nav__list_header_cart_link {
  display: flex;
  justify-content: flex-end;
  color: inherit;
  text-decoration: none;
  font-weight: lighter;
  font-family: "Oswald", sans-serif;
  max-width: 20px;
}

.nav__list_header_cart_link:hover {
  color: #fffcf2;
}
@media screen and (max-width: 2000px) {
    .nav__text {
      text-align: center;
      font-family: $font-heading;
      padding-top: 0em;
      font-size: 20px;
    }
  
    .nav__row {
      max-width: 50%;
    }
  }

@media screen and (max-width: 800px) {
  .nav__text {
    text-align: center;
    font-family: $font-heading;
    padding-top: 0em;
  }

  .nav__row {
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .nav__text {
    padding-top: 0em;
    text-align: center;
    font-family: $font-heading;
  }

  .nav__row {
    padding-top: 0.2em;
  }

  .nav__link_header_cart_link {
    justify-content: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
