@import "config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

.products {
    display: flex;
    padding: 1.25em;
    justify-content: center;
    font-family: $font-main;
  
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: $max-width;
      padding-bottom: $gutter * 2;
    }
  
    &__col {
      width: 32%;
      margin: 5px;
    }
  
    &__name {
      font-size: 2em;
      font-family: $font-heading;
      padding-top: $gutter;
    }
  
    &__description {
      padding-top: $gutter;
    }
  
    &__price {
      padding-top: $gutter;
      font-family: $font-heading;
      font-size: 1.5em;
      font-weight: bold;
    }
    
}  